{% extends "skeleton.html" %}
{% block content %}
    <script language="javascript" type="text/javascript">

        function hideError(){
	    document.getElementById("dvError").style.display = "none";
	    }

	    function showError(msg)
        {
            dvError = document.getElementById("dvError");
            pError = document.createElement("p");

            dvError.innerHTML = "";
			dvError.appendChild( pError );
			pError.appendChild( document.createTextNode( msg ) );
			dvError.style.display = "block";
	    }
    </script>

    <div id="divSearch">
        <h2>Busca las ofertas que te interesan:</h2>
            <form id="frmOffer" name="formularioSearch" method="post" action="/search?id={{id}}">
                <input type="text" name="experiencia" id="edExperiencia" placeholder="Experiencia"/>
                <label>
                    <select name="especialidad">
                        <option selected value="Ninguna"> </option>
                        <option value="Road">Road</option>
                        <option value="Oval">Oval</option>
                        <option value="Rally">Rally</option>
                        <option value="RallyCross">RallyCross</option>
                    </select>
                </label>
                <label>
                    <select name="objetivo">
                        <option selected value="Ninguno"> </option>
                        <option value="Formula1">Formula1</option>
                        <option value="IndyCar">IndyCar</option>
                        <option value="Nascar">Nascar</option>
                        <option value="WEC">WEC</option>
                        <option value="WRC">WRC</option>
                        <option value="World Rallycross">World Rallycross</option>
                    </select>
                </label>
                <input type="submit" id="btSearch" value="Buscar Oferta"/>
            </form>
    </div>
{% endblock %}