<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

     <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="/css/style.css"/><title>RaceDriverDraft</title>
	<script>
	</script>
</head>
<body>
	<div>
		<nav class="navbar navbar-default navigation-clean-search">
			<div class="navbar-header">
				<br>
				<a style="margin-top: 10px; font-size: 50px; font-weight: bold" class="navbar-brand" href="/">RaceDriverDraft</a>
				<img style="margin-left: 200px; margin-bottom: 10px" src="/res/logo.png" width="80" height="80">
			</div>
		</nav>
	</div>

    <main>
        <div id="dvContents">
            {% block content %}
            {% endblock %}
        </div>

    </main>

</body>
</html>